<!DOCTYPE html>

<html lang="en">
    <%- include('../partials/head.mail.partial.ejs') %>
    <body>
        <h1 style = "font-size: x-large;">Hello, <i style = "color: #141414"><%= firstName + ' ' + lastName %></i></h1>
        <div class = "font-size: medium">
            <b>What am I receiving this Email for?</b>
            <p>This Email has been automatically sent by our system after a request from you for a new Email verification code or in case you recently changed your account's Email. If it wasn't you making the request, then you don't have to do anything, otherwise please click the button below or click on the following link to verify your email.</p>
            <p><a href = "<%=verificationLink%>"><%=verificationLink%></a></p>
            <b>Please note that the code is valid for just 10 minutes for security purposes. After the token becomes invalid, you will need to request a new one.</b>
        </div>

        <div style = "width: 100%; margin-top: 50px; text-align: center;">
            <a href = "<%=verificationLink%>" style = "box-sizing: border-box; padding: 10px 25px; color: white; background: #1A103D; font-size: medium; text-decoration: none; border-radius: 0.5rem;">VERIFY EMAIL</a>
        </div>
        
        <hr style = "width: 80%; height: 0.5px; margin-left: auto; margin-right: auto; margin-bottom: 30px; margin-top: 30px; border: none; background: rgba(0,0,0,0.5)">
        
        <%- include('../partials/footer.mail.partial.ejs', {signature: true}) %>
    </body>
</html>